{{#contentFor "title"}}Contact SEAL Team Physical Training - We're Your Team{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="All great things begin with a conversation. Let's get things started.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/contact">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="All great things begin with a conversation. Let's get things started.">
{{/contentFor}}

<div class="contact-carousel carousel-section page-section">
  <div class="carousel-slide" style="background-image: url(/images/underwater-seals.jpg);">
    </div>

  <div class="cover-heading">
    <h1>We're your team,</h1>
    <h2>ready when you are.</h2>
  </div>
</div>

<div class="page-section page-section-dark header">
	<div class="container">
		<h2>All great things begin with a conversation. Let's get things started. <!--Come visit us at HQ or contact us below.--></h2>
	</div>
</div>


<div class="page-section page-section-light" id="form">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				{{#if enquirySubmitted}}
				<br><br>
					<h4>Thanks for getting in touch. You can expect to hear from us soon.</h4>
				{{else}}
				<h3>Send a message</h3>
				

				<p><strong>To inquire about Athletic Team Building, <a href="/programs/contact-athletic-training">please do so here</strong></a>.</p>

<form method="post" action="#form">
<input type="hidden" name="action" value="contact">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<label>Name</label>
						<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
					</div>
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<label>Email</label>
						<input type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
					</div>
					<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
						<label>What are you contacting us about?</label>
						<select name="enquiryType" class="form-control">
							<option value="">(select one)</option>
							{{#each enquiryTypes}}
							<option value="{{value}}">{{label}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<label>Message</label>
						<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</form>
				{{/if}}
			</div>
			<div style="padding-left:40px" class="col-sm-5">
				<h3>HQ Address</h3>
				<p>
					11357 Nuckols Road<br>
					Suite 164<br>
					Glen Allen, VA 23059<br>
					*By appointment only
				</p>
				<h4>Telephone</h4>
				<p>804-262-1894</p>
				<h4>Office Hours</h4>
				<p>9:00am - 3:00pm / M-F</p>
				<h4>Mailing Address</h4>
				<p>PO Box 6617<br>
				Glen Allen, VA 23058
				</p>
			</div>
		</div>
	</div>
</div>

<div class="page-section page-section-lightest header">
	
	<div style="text-align:center" class="container">
	<h2>People We Support.</h2>	
	<p>&nbsp;</p>
	<a href="//richmondstrikers.com/" target="blank"><img src="images/rs-logo.jpg" alt="Richmond Strikers"></a>
	<a href="//fleetfeetrichmond.com/" target="blank"><img src="images/fleet-feet.png" alt="Fleet Feet Sports"></a>
	<a href="//navysealfoundation.org/" target="blank"><img src="images/nsf-logo.jpg" alt="Nacy SEAL Foundation"></a>
	</div>
</div>