{{#contentFor "title"}}Try a Free
Training Class - The Platoon is Waiting for You{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="Try a free SEAL Team Physical Training class. Free one hour trial classes are offered every Thursday.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/join">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="Try a free SEAL Team Physical Training class. Free one hour trial classes are offered every Thursday.">
{{/contentFor}}

{{#if enquirySubmitted}}
  {{>trial-confirm}}
{{else}}
<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Try a Free <br>
  Training Class</h1>
  <h2>The platoon is waiting for you.</h2>
  <p class="lead">Free one hour trial classes are offered in the following cities.</p>

  
  <hr style="padding-bottom:22px">

  <div style="padding-left:0" class="col-md-4">
  <p><strong>Richmond</strong><br>
  	5:45am / 9:30am / 6:00pm<br> 
  </p>
</div>
<div style="padding-left:0" class="col-md-4">
  <p><strong>Richmond, West End</strong><br>
  	5:45am / 6:00pm <br>
  </p>
</div>
<div style="padding-left:0" class="col-md-4">
  <p><strong>Charlottesville</strong><br>
  	6:00am <br>
  </p>
</div>
 
 <div class="clearfix"></div>

<div style="padding-left:0" class="col-md-4">
  <p><strong>Washington, DC</strong><br>
  	5:45am<br>
  </p>
</div>
  
  <div style="padding-left:0" class="col-md-4">
  <p><strong>Philadelphia</strong><br>
  	5:45am<br>
  </p>
</div>

  <div style="padding-left:0" class="col-md-4">
  <p><strong>Atlanta</strong><br>
  	6:00am<br>
  </p>
</div>
<div class="clearfix"></div>
<hr>
<p>Upon receipt of your request, we'll contact you to schedule a free class.</p>
<p><small>*One free class per person. Additional classes will require a fee.</small></p>
  
  <p>&nbsp;</p>
  <h3>Personal Information</h3>

				{{#if enquirySubmitted}}
					<h3>Thanks for getting in touch.</h3>
				{{else}}
					<form method="post">
						<input type="hidden" name="action" value="contact">
						<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
							<label>First/Last Name</label>
							<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
						</div>
						
						<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
							<label>Email</label>
							<input type="email" name="email" class="form-control" value="{{formData.email}}">
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
						</div>
							<div class="form-group {{#if validationErrors.location}}has-error{{/if}}">
							<label>Choose a City -- this is where you will report for your free class</label>
							<select name="location" class="form-control">
							<option value="">(select one)</option>
							
							<option value="Richmond">Richmond</option>
							
							<option value="WestEnd">Richmond, West End</option>
							
							<option value="Charlottesville">Charlottesville</option>
							
							<option value="DC">Washington, DC</option>
							
							<option value="Philly">Philadelphia</option>
							
							<option value="Atlanta">
							Atlanta</option>
							</select>
						</div>
						<p>&nbsp;</p>
						
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</form>
				{{/if}}
			


  </div>
</div>


{{/if}}