<h3>2 Week Boot Camp Agreement</h3>
<p>
  I {{{registration.name.full}}}, agree to the following terms and conditions.  
</p>


<p>
  I will be expected to attend at least <strong>9 of the 10 boot camp classes</strong> (within the 2 week boot camp) in order to be eligible for full membership in the SEAL Team Physical Training Program. 
</p>

<p>If I purchase a 2 week boot camp membership at a professional or student discount, I understand I may be asked to show documents which demonstrate the fact that I am either a member of the US Military, a first responder or a full-time student.
  </p>

<p>At the conclusion of the 2 week boot camp, I will be offered the opportunity to gain full membership in the SEAL Team Physical Training Program. Should I decline, there are no additional obligations.
</p>

<p>There are no refunds for the 2 week boot camp. Should I become injured and unable to attend classes during the 2 week boot camp, please contact SEAL Team Physical Training at 804-262-1894 as soon as possible.
</p>

<p>
  I understand and agree that the <a href="https://rightsignature.com/forms/Waiver7may2013-8826b4/token/40eba9eb163" target="blank">Participation Waiver</a> will continue to be binding on me for the duration of the 2 week boot camp.  
</p>

<p>
  I agree that my name can be included on the SEAL Team Physical Training e-mail list and that SEAL Team Physical Training may communicate notices or other information to me via e-mail. I also consent to SEAL Team Physical Training using photographs or video containing my likeness on the SEAL Team Physical Training website or in SEAL Team Physical Training promotional or advertising materials, without compensation to me.
</p>

<p>
  SEAL Team Physical Training reserves the right from time to time to establish general policies that apply to all fitness program members regarding attendance, conduct, safety, contract cancellation and other relevant subjects, and to modify these polices.  Any such policies will be posted on SEAL Team Physical Training web site or sent out via E-mail.
</p>

{{#if showSignature}}
  <p>
    <strong>Date:</strong> {{registration.date}}<br>
    <strong>Name:</strong> {{registration.name.full}}<br>
    <strong>Email:</strong> {{registration.email}}<br>
    <strong>Phone:</strong> {{registration.phone}}
  </p>
  <p>
    <strong>Signature</strong><br>
    <img src="{{{registration.signature}}}">
  </p>
{{/if}}