<h3>Fitness Membership Agreement</h3>
<p>
  I {{{registration.name.full}}}, agree to pay SEAL TEAM Physical Training, Inc. (from now on out “STPT”), its successors or assigns, the Monthly Membership Dues for participation in the STPT Fitness Membership program.  
</p>

<p>
  I will be billed an additional processing fee not to exceed $5.00 more than the Membership Dues listed above if I choose a Credit/Debit card billing method.  If I choose ACH/EFT (automatic draft from your bank account) for my billing method, the Membership Dues listed above will remain the same.
</p>

<p>
  Payment of the Membership Dues shall be made in monthly installments or paid in full as decided by the payer. First installment of this membership plan will be made on the first day of the following month and each consecutive month thereafter. Payment received after the 10th day of the month will incur a $5 late fee. In addition to the late fee, any Membership Dues that are due but remains unpaid after the 15th day of the month will incur a finance charge of $1.5% per month on the unpaid balance. The Membership Dues may be adjusted annually by STPT with at least forty-five (45) days prior written notice to me.
</p>

<p>
  In the event that I cease, for any reason, to participate in the STPT program, I understand that I am still liable for the unpaid balance of the Membership Dues, payment of which shall be due and payable as set forth above. I agree that I will be responsible for all reasonable legal fees and other costs incurred by STPT in collecting any amounts owing under this agreement, in addition to all other remedies available to STPT. 
</p>

<p>
  If I move out of town, I will be required to present STPT offices, either a document from my employer, home lease or purchase agreement in order for STPT to cancel this agreement without any penalties to me. In the event that said document is not presented at time of move, STPT will not issue any refunds for membership fees once said document is produced. 
</p>

<p>
  In the event that I suffer an injury, my case will be taken into consideration and I may be able to freeze my account from billing and not participate in the STPT Fitness program for the time period I am not able to attend workouts as long as this period was for a minimum of 30 days.  In this case a doctor’s note will be required to be submitted with a completed Hold Form.  The time period that my account is frozen will be added to the backend date of my agreement terms.
</p>

<p>
  If I decide to cancel the 12 Month Membership Agreement before the agreed term ends, I will be charged an early-cancellation fee of $300.00.  If I decide to cancel the 6-Month Membership agreement before the agreed term ends, I will be responsible for the remaining cost of the 6-Month agreement.
</p>

<p>
  I understand and agree that the <a href="https://rightsignature.com/forms/Waiver7may2013-8826b4/token/40eba9eb163" target="blank">Participation Waiver</a> will continue to be binding on me for the duration of my participation in the STPT fitness program.  
</p>

<p>
  I agree that my name can be included on the STPT e-mail list and that STPT may communicate notices or other information to me via e-mail. I also consent to STPT using photographs/video containing my likeness on the STPT website or in STPT’s other promotional or advertising materials, without compensation to me.
</p>

<p>
  STPT reserves the right from time to time to establish general policies that apply to all fitness program members regarding attendance, conduct, safety, contract cancellation and other relevant subjects, and to modify these polices.  Any such policies will be posted on STPT’s web site or sent out via E-mail.
</p>

<p>
  This agreement shall be SELF-RENEWING on the same terms and conditions unless written notice to cancel is given by either STPT or me to the other party at least thirty (30) days prior to renewal of this agreement.  This agreement is the final understanding between the parties and replaces any prior negotiation, discussions or agreements between the parties.  This agreement may not be modified or amended, in whole or in part, without the written consent of both parties.
</p>

{{#if showSignature}}
  <p>
    <strong>Date:</strong> {{registration.date}}<br>
    <strong>Name:</strong> {{registration.name.full}}<br>
    <strong>Email:</strong> {{registration.email}}<br>
    <strong>Phone:</strong> {{registration.phone}}
  </p>
  <p>
    <strong>Signature</strong><br>
    <img src="{{{registration.signature}}}">
  </p>
{{/if}}