<h3>Intro to Basic Fitness Training Agreement</h3>
<p>
  I {{{registration.name.full}}}, agree to the following terms and conditions.  
</p>


<p>
  I will be expected to attend at least <strong>10 classes</strong> (within the intro month) in order to be eligible for full membership in the SEAL Team Physical Training Program. 
</p>

<p>If I purchase the Intro to Basic Fitness Training membership at a student discount, I understand I may be asked to show documents which demonstrate the fact that I am a full-time student.
  </p>

<p>At the conclusion of the one-month Intro to Basic Fitness Training, I will be offered the opportunity to gain full membership in the SEAL Team Physical Training Program. Should I decline, there are no additional obligations.
</p>

<p>There are no refunds for the one-month Intro to Basic Fitness Training. Should I become injured and unable to attend classes during the one-month Intro to Basic Fitness Training, please contact SEAL Team Physical Training at 804-262-1894 as soon as possible.
</p>

<p>
  I agree that my name can be included on the SEAL Team Physical Training e-mail list and that SEAL Team Physical Training may communicate notices or other information to me via e-mail. I also consent to SEAL Team Physical Training using photographs or video containing my likeness on the SEAL Team Physical Training website or in SEAL Team Physical Training promotional or advertising materials, without compensation to me.
</p>

<p>
  SEAL Team Physical Training reserves the right from time to time to establish general policies that apply to all fitness program members regarding attendance, conduct, safety, contract cancellation and other relevant subjects, and to modify these policies.  Any such policies will be posted on SEAL Team Physical Training web site or sent out via E-mail.
</p>

<p>
  I understand and agree that the Participation Waiver (see below) will continue to be binding on me for the duration of the one-month Intro to Basic Fitness Training.  
</p>

<h3>Participation Waiver</h3>

<p>I agree to participate in SEAL Team Physical Training, Inc. programs including the Basic Fitness Class, Fitness Membership, Kid's Classes, or any other program being offered by SEAL Team Physical Training, Inc. The undersigned will do so all the while understanding and acknowledging that SEAL Team Physical Training, Inc. programs 
may be dangerous and possesses a risk to life and limb. With this understanding, for himself or herself, his or her heirs, and next of kin, the undersigned: 
</p>  

<p>Hereby releases and discharged for all me SEAL Team Physical Training, Inc., their affiliates, subsidiaries, agents, employees, instructors, officers, and directors, from all liability to the undersigned or anyone representing the undersigned for any loss or damages, on account of illness, injury or damage or losses sustained by the undersigned, including his or her death, as a result from participating in the above named course and or instruction, whether caused by the negligence of SEAL Team Physical Training, Inc., and whether on or off the course premises, while the undersigned is participating in any course and or training session. 
</p>

<p>Hereby assumes full responsibility for and risk of illness, bodily injury, death, or property damage while participating in the course and or instruction provided by SEAL Team Physical Training, Inc.
</p>

<p>Hereby waives any claims and does covenant not to sue SEAL Team Physical Training, Inc., for any claim which he or she may now have or may acquire against said entities or against any of their agents, representatives, or employees by reason of any injury or illness, damages or loss sustained by him or her, including his or her death, as a result of participating in any course and or instruction whether on or off course premises, regardless of the cause thereof.
</p>

<p>Hereby agrees that this release and hold harmless agreement titled as Fitness Intake Form is intended to be as broad and inclusive as permitted by the law of the state in which any of its activities are located, and if any portion of it is determined by a court of law to be invalid, the balance shall continue in full force and effect.  
</p>

<p>Hereby understands that in some states a general release does not extend to claims which the undersigned does not know or suspect to exist in his or her favor at the me of signing the release, which if he or she knew or suspected such claims, would of materially have affected his or her willingness to sign the release. 
</p>

<p>Hereby waives his or her rights under any code section that limits a general release, and acknowledges that this waiver is an essential term of this release without which he or she would not have signed this agreement. 
</p>

<p>Hereby agrees that my name can be included on the SEAL Team Physical Training, Inc. email list and that SEAL Team Physical Training, Inc. may communicate notices or other information to me via email. I also consent to SEAL Team Physical Training, Inc. using photographs containing my likeness on the SEAL Team Physical Training, 
Inc. website, social media accounts, or in other promotional or adversing materials, without compensation to me. 
</p>

<p> I hereby represent that I am in good health and have disclosed all prior existing medical and physical conditions that would affect my ability to participate in the courses of instruction listed above.
</p>

<p>The undersigned represents that he or she is in good health and has disclosed all prior existing medical and physical conditions that would affect the undersigned's ability to participate in the courses and instruction listed above.
</p>

<p>The undersigned represents that he or she has read, understands, and is voluntarily signing this release and hold harmless agreement, and further represents that no verbal statements have been made to the undersigned to induce him or her to sign this agreement. 
</p>


{{#if showSignature}}
  <p>
    <strong>Date:</strong> {{registration.date}}<br>
    <strong>Name:</strong> {{registration.name.full}}<br>
    <strong>Email:</strong> {{registration.email}}<br>
    <strong>Phone:</strong> {{registration.phone}}
  </p>
  <p>
    <strong>Signature</strong><br>
    <img src="{{{registration.signature}}}">
  </p>
{{/if}}