<div class="navbar navbar-secondary">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#news-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        Recent News
      </a>
    </div>

    <div class="collapse navbar-collapse" id="news-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "/news" request=request}}All News <i class='icon icon-arrow-right'></i>{{/link-to}}</li>
        
      </ul>
    </div>
  </div>
</div>

<div class="slanted-blocks">
  <div class="slanted-blocks-row">
    {{#link-to "/some-page" class="slanted-blocks-col"}}
      <div class='slanted-blocks-col-inner' style="background-image: url({{{styleizedImage "199117_sevppt"}}}), url(images/effects/colors.jpg);">
        <div class="slanted-cta">
          Some cool words yeah?
        </div>
        <h3>Lorem ipsum doler sit itmut</h3>
      </div>
    {{/link-to}}
    {{#link-to "/some-page" class="slanted-blocks-col"}}
      <div class='slanted-blocks-col-inner' style="background-image: url({{{styleizedImage "pic_inzbrf"}}}), url(images/effects/colors.jpg);">
        <div class="slanted-cta">
          Some cool words yeah?
        </div>
        <h3>Lorem ipsum doler sit itmut</h3>
      </div>
    {{/link-to}}
    {{#link-to "/some-page" class="slanted-blocks-col"}}
      <div class='slanted-blocks-col-inner' style="background-image: url({{{styleizedImage "199096_icx4rt"}}}), url(images/effects/colors.jpg);">
        <div class="slanted-cta">
          Some cool words yeah?
        </div>
        <h3>Lorem ipsum doler sit itmut</h3>
      </div>
    {{/link-to}}
  </div>
  <div class="slanted-blocks-row">
    {{#link-to "/some-page" class="slanted-blocks-col"}}
      <div class='slanted-blocks-col-inner' style="background-image: url({{{styleizedImage "199117_sevppt"}}}), url(images/effects/colors.jpg);">
        <div class="slanted-cta">
          Some cool words yeah?
        </div>
        <h3>Lorem ipsum doler sit itmut</h3>
      </div>
    {{/link-to}}
    {{#link-to "/some-page" class="slanted-blocks-col"}}
      <div class='slanted-blocks-col-inner' style="background-image: url({{{styleizedImage "pic_inzbrf"}}}), url(images/effects/colors.jpg);">
        <div class="slanted-cta">
          Some cool words yeah?
        </div>
        <h3>Lorem ipsum doler sit itmut</h3>
      </div>
    {{/link-to}}
    {{#link-to "/some-page" class="slanted-blocks-col"}}
      <div class='slanted-blocks-col-inner' style="background-image: url({{{styleizedImage "199096_icx4rt"}}}), url(images/effects/colors.jpg);">
        <div class="slanted-cta">
          Some cool words yeah?
        </div>
        <h3>Lorem ipsum doler sit itmut</h3>
      </div>
    {{/link-to}}
  </div>
</div>